<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_delivery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DELIVERY FOOD !"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListaProducto"></activity>
        <activity android:name=".PizzaDtActivity" />
        <activity android:name=".HamburguesaActivity" />
        <activity android:name=".PolloActivity" />
        <activity android:name=".ListaInformacion" />
        <activity android:name=".PizzaActivity" />
        <activity android:name=".TarjetaActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".CuentaActivity" />
        <activity android:name=".PromocionesActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>